
<div class="container">
<!--     <div class="search-bar">
      <%= search_form_for @q, url: search_products_path,
                      html: { method: :post } do |f| %>
        <%= f.search_field :name_cont, :type => "search", :placeholder => "Enter Search" %>
        <button type="submit">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
        </button>
      <% end %>
    </div>
 -->
  <div class="row small-up-1 medium-up-2 large-up-4">
    <% @products.each do |product| %>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <%= link_to image_tag(product.image), product %>
          </div>
          <div class="card-header">
            <%= link_to product.name, product %>
          </div>
          <div class="card-copy">
            <%= truncate(strip_tags(product.description)) %><br>
            Published in <%= product.year %><br>
            <strong><%= product.price %> $</strong>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<h2>Find us:</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.811028736169!2d105.80463974988739!3d21.000210794060926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac981e4082c1%3A0x4091803ceac9bc5c!2zMTdUMywgc-G7kSAxIE5ndXnhu4VuIEh1eSBUxrDhu59uZywgS2h1IGNodW5nIGPGsCBIYXB1bGljbywgVGhhbmggWHXDom4gVHJ1bmcsIFRoYW5oIFh1w6JuLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1452488436228" width="100" height="100" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>