  <div class="row">
    <% @products.each do |product| %>
      <div class="small-12 medium-6 large-3 columns end">
        <div class="card" style="padding-top: 1em;">
          <div class="card-image">
            <%= link_to product do %>
              <div class="hovergallery">
                <img src="<%= product.image_url %>" style=" width: 300px; height:200px; " alt="" />
              </div>
            <% end %>
          </div>
          <div class="card-header">
            <%= link_to product.name, product %>
          </div>
          <div class="card-copy">
            <%= truncate(strip_tags(product.description)) %><br>
            Price <strong><%= product.price %> $</strong>
          <!--  <%= button_to 'Add to Cart', line_items_path(product_id: product), remote: true %> -->
          </div>
        </div>
      </div>
    <% end %>
  </div>


  </br>
  <div class="row">
    <div class="small-12 columns">
      <%= will_paginate @products, renderer: FoundationPagination::Rails %>
    </div>
  </div>

