<p id="notice"><%= notice %></p>

<div class="row">
  <div class="small-3 medium-3 large-1 columns">
    <div class="columns">
      <% @product_attachments.each do |p| %>
        <a class="fancybox" rel="gallery1" href="<%= p.image_url %>">
            <div class="hovergallery">
              <img src="<%= p.image_url %>" style=" width: 200px; height: auto; padding-bottom: 1em;" alt="" />
            </div>
        </a>
        
      <% end %> 
    </div>
  </div>
  <div class="small-9 medium-9 large-4 columns">
    <div class="columns">
      <a class="fancybox" rel="gallery1" href="<%= @product.image_url %>">
        <img src="<%= @product.image_url %>" alt="" />
      </a>
      
    </div>
    <div class="columns" style="padding-top: 1em;">
      <%= button_to 'Add to Cart', line_items_path(product_id: @product) %>
    </div>

  </div>
  <div class="small-12 medium-12 large-7 columns">
    <ul class="tabs" data-tabs id="example-tabs">
      <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Description</a></li>
      <li class="tabs-title"><a href="#panel2">Price</a></li>
      <li class="tabs-title"><a href="#panel3">Year</a></li>
    </ul>
    <div class="tabs-content" data-tabs-content="example-tabs">
      <div class="tabs-panel is-active" id="panel1">
        <strong><%= @product.name %></strong><br>
        <p> <%= @product.description %></p>
      </div>
      <div class="tabs-panel" id="panel2">
        <p><%= @product.price %> $</p>
      </div>
      <div class="tabs-panel" id="panel3">
        <p><%= @product.year %></p>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    $("a.fancybox").fancybox();
  });
</script>

