 <header>
  <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title"><%= link_to "Products", products_path %></div>
  </div>
  <div class="top-bar" id="example-menu">
    <div class="row">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text"><%= link_to "Products", products_path %></li>
          <li class="has-submenu">
            <a href="#">Dropdown cart</a>
            <ul class="submenu menu vertical" data-submenu>
              <li><a href="#">demo One</a></li>
              <li><a href="#">demo Two</a></li>
              <li><a href="#">demo Three</a></li>
            </ul>
          </li>
          <li><a href="#">Two</a></li>
          <li><%= link_to "New", new_product_path %></li>
          <li>
              <%= link_to @cart do %> 
                <i class="fi-shopping-cart"></i>
              <%end%>
          </li>
          
        </ul>
      </div>
      <div class="top-bar-right">          
        <div class="row collapse">
          <%= search_form_for @q, url: search_products_path,
                            html: { method: :post } do |f| %>
            <div class="large-8 small-9 columns">
              <%= f.search_field :name_cont, :type => "search", :placeholder => "Enter Search" %>  
            </div>
            <div class="large-4 small-3 columns">
              <button type="submit" class="alert button expand">Search</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  </br>
 </header>